@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=VT323&display=swap');

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'VT323', monospace;
}

:root {
  --res: calc(0.1 * 1vmin);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  background-color: black;
  align-items: center;
  flex-direction: column;
  background: url("peacj.webp") no-repeat center center /cover;
  justify-content: center;
  position: relative;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.853); 
  z-index: -1;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 99;

}

.title {
  display: flex;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: max(calc(74 * var(--res)), 65px);
}

.paragraph {
  display: flex;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph p {
  font-size: max(calc(24 * var(--res)), 19px);
  color: #9a9fae;
}

.buts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buts button {
  background: linear-gradient(152.2deg,#FF0041, #FF0041, #FF0041);
  border: 4px solid #481348;
  padding: 12px 40px;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 500;
  font-size: max(calc(28 * var(--res)), 30px);
}

.little-title {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 25%;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.little-title p {
  font-size: max(calc(10 * var(--res)), 9px);
  color: #9a9fae;
  text-align: center;
}

.little-title img {
  width: 212px;
  aspect-ratio: auto 272 / 80;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.picture {
  display: flex;
  margin-right: 14px;
}

picture img {
  width: max(calc(70 * var(--res)), 200px);
}

.socials {
  display: flex;
  height: 15%;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
  position: absolute;
  bottom: 0;
}

li {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #13131f;
  border: 1px solid #161827;
  display: flex;
  justify-content: center;
  align-items: center;
}

li img {
  width: max(calc(10 * var(--res)), 20px);
}

li:nth-child(1),li:nth-child(2)  {
  cursor: pointer;
}

li:nth-child(3),
li:nth-child(4) {
  cursor: not-allowed;
}

@media screen and (max-width: 450px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    position: relative;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 99;
  }

  .paragraph {
    display: flex;
    width: 98%;
    z-index: 99;

    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paragraph p {
    font-size: max(calc(24 * var(--res)), 18px);
    color: #9a9fae;
  }

}